<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.wger.flutter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
    <application android:usesCleartextTraffic="true"/>
</manifest>
