name: Continous Integration
on:
  push:
    paths:
      - '**.dart'
      - 'pubspec.yaml'
  pull_request:
    branches: [ pull_request, master ]
    paths:
      - '**.dart'
      - 'pubspec.yaml'
jobs:
  test:
    runs-on: ubuntu-20.04
    steps:  
    - uses: actions/checkout@v1

    - name: Install Flutter
      uses: subosito/flutter-action@v1
      with:
        channel: 'stable'
        flutter-version: '3.0.x'

    - run: dart --version
    - run: flutter --version

    - name: Install app dependencies
      run: flutter pub get

    - name: Test app
      run: flutter test --coverage

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
