name: Dependabot Pub

on: workflow_dispatch

jobs:
  pub:
    name: Dependabot Pub
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dart-lang/setup-dart@v1
      - name: Update
        uses: IchordeDionysos/dependabot-pub-runner@main
        with:
          path: /